<div class="c-login" [formGroup]="form">
  <div>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="password" formControlName="password" matInput placeholder="Password">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button (click)="submit()" color="primary">Entrar</button>
  </div>
</div>