
/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal heading styles
 *
 */

// Headings variables

$e-headings__font-weight:         400 !default;

$e-headings__line-height:         $v-line-height--tiny !default;

$e-headings__margin-bottom:       $g-reset__spacing--vertical !default;


// Headings output

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: $e-headings__line-height;
  font-weight: inherit;
}

