<div *ngIf="!field.translate">
  <mat-form-field [formGroup]="formGroup">
    <textarea matInput [placeholder]="field.label" [formControlName]="field.key"></textarea>
  </mat-form-field>      
</div>
<div *ngIf="field.translate">
  <mat-form-field [hidden]="data.currentLanguage.id != lang.id" [formGroup]="formGroup.get( '_translations').get( lang.iso3)" *ngFor="let lang of data.languages">
    <textarea matInput [placeholder]="field.label + ' ' + lang.iso3 " [formControlName]="field.key"></textarea>
  </mat-form-field>   
  <span (click)="changeLang()">change</span>   
</div>