.admin-bar-body {
  background: transparent;
}

.admin-bar-navmain {
  background: #000;
  width: 200px;
  position: absolute;
  z-index: 9999999;
}
.admin-bar-open {
  position: absolute;
  right: 5px;
}
.admin-bar-navtop {
  float: left;
  display: none;
}
.admin-bar > ul > li {
  float: left;
  list-style: none;
}

.admin-bar-navtop > ul > li {
  list-style: none;
  display: inline-block;
}
.admin-bar-navtop > ul > li > a,
.admin-bar ul.admin-bar-links > li > a {
  padding: 8px 10px;
  display: block;
  color: #fff;
  outline: 0;
}
.admin-bar ul.admin-bar-links > li > a {
  padding: 8px 10px;
}
.admin-bar ul.admin-bar-links > li > a:hover,
.admin-bar-navtop > ul > li > a:hover {
  color: #ccc !important;
}
.admin-bar ul.admin-bar-links > li > a:hover,
.admin-bar-navtop > ul > li:hover > a {
  background: #333;
}
.admin-bar-navtop > ul > li:hover a {
  color: #fff;
}
.admin-bar-navtop > ul > li:hover a:hover {
  background: #333;
  color: #fff;
}
.admin-view-open {
  display: none;
  position: absolute;
  top: 0;
  left: 10px;
}
.admin-bar-logout {
  position: absolute;
  right: 50px;
}

.admin-bar {
  background: #000;
  color: #fff;
  height: 35px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.admin-bar-body .header-content {
  top: 35px;
  left: 0;
}
.admin-bar-body .wrapper-update {
  margin-top: 80px;
}
.admin-bar-body  .modal .wrapper-update {
  margin-top: -15px;
}
.admin-bar-body .wrapper-index {
  margin-top: 90px;
}
.admin-bar-content {
  background: #fff;
}

@media (max-width: 50px) {
  .admin-bar-navtop {
    display: none;
  }
}

@media (max-height: 35px) {
  .hide-bar {
    display: none;
  }
}
.admin-bar-body #wrapper {
  -webkit-box-shadow: 0px 22px 17px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 22px 17px -5px rgba(0,0,0,0.25);
  box-shadow: 0px 22px 17px -5px rgba(0,0,0,0.25);
}
.admin-bar-body .wrapper-content {
    margin-top: 75px;
}