body {
    font-family: 'Lato', sans-serif;
    background: transparent;
}

body.modal-open {
    /*position: fixed;*/
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    border-radius: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 1.50rem;
    height: 1.50rem;
    overflow: hidden;
    border: 1px solid #adb8c0;
    background-color: #fff;
    vertical-align: text-bottom;
    margin-right: .25rem;
}

input[type=radio]:after {
    box-sizing: border-box;
    content: "";
    border-radius: inherit;
    position: absolute;
    right: .25rem;
    left: .25rem;
    top: .25rem;
    bottom: .25rem;
    transition: background-color 80ms;

}

input[type=radio]:checked:after {
  background-color: #3e89e4;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 90%;
    }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

@media (max-width: 768px) {
    .middle-box {
        max-width: 90%;
    }
}

.admin-logo {
    width: auto;
    height: auto;
    max-height: 60px;
}


.fixed-nav #wrapper {
    margin-top: 50px;
}

/*Menu responsive*/

@media (max-width: 768px) {

    body.canvas-menu .navbar-static-side,
    body.fixed-sidebar .navbar-static-side {
        position: absolute;
        width: 220px;
        z-index: 999999;
        height: 100%;
        background-color: #2F4050;
    }
}

a:focus,
button:focus,
span:focus,
a:active,
button:active,
span:active {
    outline: 0 !important;
}

/** Venobox */
.vbox-overlay {
    z-index: 9999;
}

.vbox-container {
    max-width: 1450px;
}

/** Bootstrap hack */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

h2 {
    color: #2F4050;
}

@media (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
}

h3 {
    color: #18A689;
    font-weight: normal;
    margin-top: 20px !important;
}

/** Header */
.header-content {
    position: fixed;
    top: 51px;
    z-index: 130;
    background: #293846;
    border-bottom: 1px solid #A7B1C2;
    width: 100%;
}

.header-content h2 {
    color: #fff;
    margin-top: 26px;
}

.header-content h2 small {
    font-size: inherit;
    color: rgba(255, 255, 255, .8);
}

.header-content h2 i {
    color: rgba(255, 255, 255, .3);
}

.header-content h2 button.dropdown-toggle {
    background: #293846;
}

.header-content h2 button span {
    color: #fff;
}

.header-content h2 a {
    color: #333;
}

.header-content h2 .btn-primary a,
.header-content h2 .btn-primary a i,
.header-content h2 .btn-danger a,
.header-content h2 .btn-danger a i,
.header-content h2 .btn-info a,
.header-content h2 .btn-info a i,
.header-content h2 .btn-default a i {
    color: #fff;
}

.header-content h2 a i {
    margin-right: 5px;
}

.header-content h2 .btn-group {
    margin-top: 9px;
    margin-left: 10px;
}

.header-content h2 .dropdown-menu>li>a i {
    color: #999 !important;
}

/** Util */
.clearleft {
    clear: left;
}


/** Box */
.ibox {
    margin-bottom: 0;
}

.ibox-title {
    padding: 6px 0 12px 0;
    min-height: 32px;
    border-bottom: none !important;
}

.ibox-title h5,
.association-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    margin: 0px 0px 7px;
    padding: 0 15px 10px 15px;
    border-bottom: 1px solid #e7eaec;
    background-color: #fff;
    display: block;
    float: none;
}

.ibox-title h5 small {
    margin-right: 10px;
}

.ibox-content {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: none !important;
}

.ibox-padding-top {
    padding-top: 20px;
}

.box-inline {
    display: flex;
    flex-wrap: wrap;
}

.box-inline>div {
    width: 250px;
}

.box-inline .form-horizontal,
.box-inline .form-group {
    margin-right: 60px !important;
}

.box-inline .form-horizontal,
.box-inline .form-group {
    align-items: center;
}

.form-group-checkbox label {
    opacity: .6;
}

.form-group-checkbox label.active {
    opacity: 1;
}


/** Nav */
.fixed-nav .slimScrollDiv #side-menu {
    margin-top: 30px;
}

body.canvas-menu .navbar-static-side,
body.fixed-sidebar .navbar-static-side .slimScrollDiv {
    overflow-y: auto !important;
}

body.canvas-menu .navbar-static-side,
body.fixed-sidebar .navbar-static-side {
    height: 100% !important;

}

.slimScrollDiv {
    width: calc(100% + 15px);
    position: relative;
    height: 100vh;
    padding-bottom: 20px;
}

.slimScrollDiv::-webkit-scrollbar {
    width: .5em;
}

.slimScrollDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.slimScrollDiv::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
    outline: 1px solid slategrey;
}


.nav>li>a {
    padding: 7px 20px 5px 25px;
    font-size: 14px;
}

.sidebar-collapse li>a {
    color: #fff !important;
}

@media (max-width: 420px) {
    .nav>li>a {
        padding: 7px 10px 5px 10px;
    }
}

.nav>li>a i {
    width: 14px;
    color: rgba(255, 255, 255, .7);
}

.navbar-top-links>li>a i {
    color: inherit;
}

.nav>li:hover>a i {
    color: rgba(255, 255, 255, 1);
}

.navbar-top-links>li:hover>a i {
    color: #000;
}

.nav-second-level li a {
    padding: 2px 10px 2px 44px;
    font-weight: 300;
}

/*Edit  */
.crud-col {
    padding-bottom: 50px;
}

@media (min-width: 769px) {
    .collapsed {
        display: none !important;
    }

    .admin-logo {
        margin-left: 20px;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (max-width: 768px) {
    .navbar-collapse {
        width: 100% !important;
        transition: (1s);
        left: -110%;
        display: block;
    }

    .collapse-in {
        left: 0;
    }

    .navbar-right {
        margin-left: 20px;
    }

    .header-content {
        top: 0;
        position: static;
    }

    .header-content ul {
        margin-top: 20px;
    }

    .navbar-top-links li:last-child {
        margin-right: 0;
    }

    #page-wrapper {
        padding: 0;
    }

    .wrapper {
        padding: 0;
    }

    .header-content h2 {
        margin-left: 15px;
    }

    .header-content h2 span.header-content-h {
        display: block;
        margin-bottom: 10px;
    }

    .header-content h2 span.cf-action-button {
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
    }
}


/** draft */
.crud-draft .ibox-content:first-child {
    background: #fff url(images/draft.jpg) no-repeat right 80px;
    background-attachment: fixed;
}


/** Alerts */
.alert-pop {
    position: fixed;
    z-index: 2200;
    top: -10px;
    width: auto;
    left: 34%;
    padding-top: 30px;
    font-size: 16px;
}

.alert ul {
    margin: 0;
    padding: 0;
}

.alert ul li {
    list-style: none;
    margin: 0 0 5px 0;
}

.animated.bounceOut {}

.alert-danger {
    font-size: 20px;
}

.alert-danger:before {
    content: "\f071";
    font-family: "FontAwesome";
    font-size: 22px;
    margin-right: 10px;
    line-height: 1px;
}

.content-errors span {
    font-size: 14px;
    color: #000;
}

.content-errors div span {
    display: block;
}

.content-errors div {
    margin-left: 34px;
}

/** Switchery */
.switchery {
    height: 20px;
    width: 40px;
    margin-top: 5px;
}

.switchery>small {
    height: 20px;
    width: 20px;
}

/** Forms */
.inputbig {
    font-size: 18px;
    font-weight: 700;
}

select.form-control {
    /*margin-left: 15px;*/
    display: inline-block;
    height: 24px;
    padding: 2px 15px;
    min-width: 180px;
}

select.form-control[multiple] {
    height: 120px;
}

.bootstrap-touchspin-up,
.bootstrap-touchspin-down {
    display: none;
}

.form-vertical label {
    width: 100%;
    text-align: left !important;
    display: block;
    margin-bottom: 5px !important;
}

.form-vertical select.form-control {
    width: 90% !important;
}

.label-block {
    margin-top: 20px !important;
}

.form-info {
    color: inherit;
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 7px;
}

.badge {
    font-size: 14px;
}

/** Exepción para las ventanas modal */
.modal-big {
    width: 90vw;
}

.modal-dialog .header-content {
    position: static;
    background: inherit;
    border-bottom: none;
}

.wrapper-content {
    /*margin-top: 61px;*/
}

/** Custom */
.page-heading {
    padding: 0;
}

#page-wrapper {
    margin-top: 65px;
    /*min-height: 600px;*/
}

/** Inputs */

.form-group .control-label {
    padding-top: 0px;
}

.input {
    margin-bottom: 10px;
}

.cf-colorpicker .form-control {
    width: auto;
}

.cf-colorpicker-sample {
    width: 10px;
    display: block;
    float: left;
    height: 34px;
    position: absolute;
}

.pull-left label.col-sm-2 {
    width: 100%;
    text-align: left;
}

.display-field {
    font-size: 24px;
    margin: 20px;
}

/* Touch Spin*/
.bootstrap-touchspin {
    width: 120px;
}

.bootstrap-touchspin input {
    width: 80px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    margin-bottom: -1px;
    margin-top: -4px;
}

.cf-input-checkboxes {
    margin-top: 5px;
    margin-bottom: 10px;
}

.cf-input-checkboxes label {
    font-weight: normal;
}


/** Fondo modal */
.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;

}

.modal-content {
    border: 2px solid rgba(255, 255, 255, .9);
    background-color: rgba(255, 255, 255, .9);
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
    min-height: 70vh;
}

/** Tabs de navegación */
.tabsnav {
    background: #F3F3F4;
}

.modal .tabsnav {
    margin: -10px -15px 0 -15px;
    overflow: hidden;
}

.tabsnav ul {
    margin: 20px 0px 0px 0px;
}

.tabsnav ul li {
    cursor: pointer;
    border-bottom: 1px solid #E7EAEC;
    padding: 12px 20px;
    list-style: none;
    font-weight: normal;
    margin-left: -40px;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
}

.tabsnav ul li.active {
    font-weight: bold;
}

.tabsnav ul li.active {
    background: #fff;
    color: #000;
}

.tabsnav ul li:hover {
    background: #ccc;
}

.tab-content>.active {
    background-color: #fff;
}

/* Cabecera para las páginas modal */
.modal .page-heading {
    margin: -20px -30px 10px -30px;
    border: none;
    background: #333;
}

.modal .page-heading h2 {
    color: #ccc;
}

.btn-modal-close {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

.btn-modal-close i:hover {
    color: #fff;
}

.form-control-info {
    border: none;
    border-bottom: 1px solid #e5e6e7;
    min-height: 30px;
    padding-left: 0;
    padding-right: 0;
}

/** Dropdown languages */
.cf-languages-dropdown {
    left: 0 !important;
    width: 100px !important;
}

/** CKeditor */
.form-control.cke_editable {
    height: auto;
}

/** Save button */
.cf-save-button {
    margin-left: 6px;
}

.cf-action-button {
    text-transform: uppercase;
    margin-top: 9px;
    font-size: 11px;
    margin-left: 20px;
}

.cf-action-button a {
    color: #fff;
}

.cf-index-extra-link {
    background-color: #e7e7e7;
    border-radius: 3px;
    color: #000;
    margin-right: 4px;
    border: none;
    padding: 2px 10px;
    font-size: 11px;
    text-transform: uppercase;
}

.cke_editable {
    padding: 10px 10px;
    border: 1px solid #e7e7e7;
    background-color: rgb(246, 246, 246);
    min-height: 100px;
}

.cke_editable:hover {
    border: 1px dotted #ccc;
}

/** Sections */
.cf-section-actions a {
    margin-right: 10px;
    width: 130px;
    background-color: transparent;
    border: none;
    text-align: center;
    display: inline-block;
    white-space: normal;
    color: #444;
}

.cf-section-actions a i {
    display: block;
}

/** Help  */
.cursor-help {
    cursor: help;
}

.control-tooltip {
    color: #497890;
    background-color: #EAF2F6;
    padding: 0px 5px;
    border-radius: 3px;
    display: inline;
}


/** Table */
.table._small {
    max-width: 500px;
}

.table>thead>tr>th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    background-color: #fff;
}

.table tbody tr td:first-child {
    font-weight: bold;
}

.table a {
    color: #676A6C;
}

.table tbody .btn.dropdown-toggle {
    color: #fff;
}

.table a.table-flex {
    display: flex;
    align-items: center;
}

.table a.table-flex i {
    margin-left: 10px;
}

.table tbody tr td a.btn i {
    color: #fff;
}

.table-search td a.btn i {
    color: inherit !important;
}

.table td label {
    /* display: none; */
}

.table td .inline-edit {
    display: flex;
    align-items: center;
}

.table td.index-small {
    font-size: 12px;
}

i[inline-edit],
*[inline-edit] {
    cursor: pointer;
}

.table td .inline-edit crud-field {
    flex-grow: 1;
}

.table td .inline-edit crud-field .col-lg-9 {
    width: 100%;
    padding: 0;
    display: flex;
}

.table td .inline-edit button {
    margin-left: 10px;
}

.cf-tree-header {
    padding: 10px;
    border-bottom: 1px solid #F5F5F6;
}

.cf-tree-header>div {
    font-weight: bold;
}

.cf-tree-list ol ol {
    margin-left: 20px;
}

.cf-tree-list li {
}

.cf-tree-handler {
    /*width: 100px;*/
    float: left;
    margin-left: 10px;
}

.cf-tree-handler-header {
    width: 116px;
    float: left;
}

.cf-tree-open {
    float: left;
    background-color: rgba(0, 0, 0, .15);
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

.sortable-handle {
    width: 30px;
    text-align: center;
    cursor: move;
}

/** Fileupload */
.inv-progress-bar {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    float: left;
    margin: 0 5px 5px 0;
    padding: 4px;
    width: 100%;
}

.inv-progress-bar div.inv-progress {
    background-color: #67b368;
    height: 3px;
    overflow: hidden;
    text-indent: -999px;
    width: 0%;
}

.pl-upload {
    border: 1px solid #ccc;
    padding: 5px;
    width: 160px;
    float: left;
    margin-right: 10px;
}

.pl-upload-error {
    z-index: 2200;
    font-size: 14px;
    color: #A94442;
    background-color: #F2DEDE;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #EBCCD1;
}

.pl-upload-error-filename {
    /*color: #8A1F11;*/
}

.pl-upload-error-msg {
    color: #8A1F11;
}

.pl-upload-info {
    width: 100%;
    overflow: hidden;
    font-size: 10px;
    margin: 4px 0 0 0;
}

.file-upload-in-progress div.progress-icon {
    /*background: url(images/upload-in-progress-light.gif) no-repeat scroll center center #ebecee;*/
}

.cf-thumbail {
    width: 120px;
}


div.progress-icon {
    height: 70px;
    margin-bottom: 7px;
    width: 100%;
    text-align: center;
}

div.progress-icon i {
    line-height: 70px;
}

div.inv-progress-bar div.inv-progress {
    background-color: #67b368;
    height: 5px;
    overflow: hidden;
    text-indent: -999px;
    border-radius: 10px;
}

.pl-upload-image,
.pl-upload-doc {
    position: relative;
    background: #fff;
}

.pl-upload-buttons {
    background: rgba(0, 0, 0, 0.40);
    padding: 2px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    padding: 1px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pl-upload-buttons a {
    color: #fff;
}

.pl-upload-buttons:hover {
    background: rgba(0, 0, 0, 0.60);
}

.pl-upload-button i {
    font-size: 12px;
}

.pl-upload-delete {
    bottom: 0;
    right: 0;
}

.pl-upload-crop {
    bottom: 0;
    left: 0;
}

.pl-upload-edit {
    top: 0;
    left: 0;
}

.pl-upload-button i {
    font-size: 20px;
}

.pl-crop-thms li {
    height: 99px;
}

.pl-crop-thm {
    text-align: center;
}

.pl-crop-thm-box {
    border: 3px solid #FFF;
    box-shadow: 0px 0px 2px 2px rgba(138, 138, 138, 0.5);
    background: none repeat scroll 0% 0% transparent;
    margin: 0 auto;
}

.pl-upload-doc i.pl-upload-fileicon {
    text-align: center;
    font-size: 40px;
}

.pl-upload-extension {
    text-transform: uppercase;
    font-weight: bold;
}

.pl-upload-filesize {
    font-size: 11px;
}

/** Upload Dialog */
.upload-dialog {
    margin: 0 auto;
}

.upload-dialog .modal-dialog {
    width: 90%;
    height: 60%;
}

.img-preview {
    overflow: hidden;
}

/** Site create */
.site-create input.form-control {
    height: auto;
}


/** */
.cf-lang {
    font-size: 10px;
    padding: 9px 0;
    text-transform: uppercase;
    width: 35px;
    position: relative;
}

.cf-lang:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
}

.lang-spa .cf-lang {
    border-color: #EBE3AB;
}

.lang-spa .cf-lang:after {
    background-color: #EBE3AB;
}

.lang-eus .cf-lang {
    border-color: #C0E8C3;
}

.lang-eus .cf-lang:after {
    background-color: #C0E8C3;
}

.lang-eng .cf-lang {
    border-color: #C7EEFC;
}

.lang-eng .cf-lang:after {
    background-color: #C7EEFC;
}

.lang-fre .cf-lang {
    border-color: #ECDCFC;
}

.lang-fre .cf-lang:after {
    background-color: #ECDCFC;
}

/** Overlay */
/* Absolute Center CSS Spinner */
.loading {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

/*
.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
*/
/* Animation */
/*
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

*/
.sk-spinner-double-bounce.sk-spinner {
    width: 100px;
    height: 100px;
}

.sk-spinner-double-bounce .sk-double-bounce1,
.sk-spinner-double-bounce .sk-double-bounce2 {
    background-color: #2F4050;
}

/** Blocks  */
.column-wrapper {
    background: #EAEAEA;
    padding: 5px;
    margin: 5px;
}

.column-zone {
    /*padding: 10px;*/
}

.block-container {
    padding: 0;
}

.block-container .ibox {
    background-color: #fff;
}

.block-container .ibox-title {
    /* background: #F5F5F5; */
    padding: 0px 10px 0px 10px;
    min-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7eaec !important;
    margin-bottom: 10px;
}

.block-container .ibox-title h5 {
    margin: 0;
    border-bottom: none;
    padding: 0;
}

.block-container .ibox-tools span {
    display: inline-block;
    color: #BFBDBD;
    padding: 2px;
    margin: 3px;
    font-size: 15px;
}

.block-container .ibox-tools span:hover {
    color: #888
}

.cf-block {
    border: 1px solid #E7EAEC;
    position: relative;
}

.cf-row-add a,
.cf-block-add a {
    margin: 0px auto;
    color: #CCC;
    z-index: 22;
    font-size: 20px;
    position: absolute;
    top: -15px;
}

.cf-row-add a:hover,
.cf-block-add a:hover {
    color: #bbb;
}

.cf-row-add,
.cf-block-add {
    border-top: 1px solid #E7EAEC;
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
    z-index: 100;
    text-align: center;
}

.cf-block-add {
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

.cf-row-wrapper {
    margin: 10px 0;
    background: #F3F3F4;
    padding: 7px 15px;
    position: relative;
}

.row-button {
    background: #F3F3F4;
    padding: 5px 10px;
    /* position: absolute; */
    top: -27px;
}

.row-edit {
    left: 50px;
}

.handle-row {
    left: 10px;
}

.column-buttons {
    background: #E1E1E1;
    margin: -10px -5px 10px -5px;
    padding: 0px 10px;
}

.handle {
    cursor: move !important;
}

.pointer {
    cursor: pointer !important;
}

.cf-field-after {
    margin-bottom: 10px;
}

.column-container {
    padding: 0;
}

.block-design {
    position: relative;
}

.block-design input {
    text-align: center;
}

.block-design label {
    margin: 10px;
}

.block-margin {
    position: absolute;
    width: 360px;
    height: 360px;
    border: 1px dotted #ccc;
    z-index: 20;
}

.block-border {
    position: absolute;
    width: 260px;
    height: 260px;
    background: #e7e7e7;
    top: 50px;
    left: 50px;
    z-index: 22;
}

.block-padding {
    z-index: 23;
    position: absolute;
    width: 160px;
    height: 160px;
    top: 50px;
    left: 50px;
    background: #ccc;
}

.block-content {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #999;
    top: 55px;
    left: 55px;
}

.block-top,
.block-bottom,
.block-left,
.block-right {
    position: absolute;
    width: 30px;
}

.block-top {
    left: 50%;
    top: 10px;
    margin-left: -12px;
}

.block-bottom {
    left: 50%;
    bottom: 10px;
    margin-left: -12px;
}

.block-left {
    left: 10px;
    top: 50%;
    margin-top: -13px;
}

.block-right {
    right: 10px;
    top: 50%;
    margin-top: -13px;
}

/** Forms */
.loginscreen label {
    display: block;
}

.cf-form-buttons {
    margin: 0 0 20px 0;
}

.cf-form-field {}

.cf-form-option {}

.cf-form .ibox-title {}

.cf-form-options {
    margin: 30px 0 0 130px;
}

.cf-form-preview {
    padding: 0 20px;
}

.cf-form-preview .form-group {
    margin: 10px -35px !important;
    padding: 20px 30px;
    border-bottom: 1px dotted #ccc;
}

.cf-form-preview label {
    font-weight: normal;
}

.cf-form-preview select.form-control {
    margin-left: 0;
}

.cf-form-preview-label {
    display: block;
    font-size: 14px;
    font-weight: bold !important;
}

/** Layouts */
.columns-layouts {
    left: 93px;
}

.columns-layouts span {
    display: none;
    width: 23px;
    height: 11px;
    margin: 0 2px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.layout-current {
    display: inline-block !important;
}

.columns-layouts:hover span {
    display: inline-block;
}

.layout-1 {
    background-image: url(images/layouts/1.gif);
}

.layout-12_12 {
    background-image: url(images/layouts/12_12.gif);
}

.layout-13_13_13 {
    background-image: url(images/layouts/13_13_13.gif);
}

.layout-14_12_14 {
    background-image: url(images/layouts/14_12_14.gif);
}

.layout-14_12_14 {
    background-image: url(images/layouts/14_12_14.gif);
}

.layout-14_14_14_14 {
    background-image: url(images/layouts/14_14_14_14.gif);
}

.layout-16_46_16 {
    background-image: url(images/layouts/16_46_16.gif);
}

.layout-16_16_16_12 {
    background-image: url(images/layouts/16_16_16_12.gif);
}

.layout-16_16_16_16_16_16 {
    background-image: url(images/layouts/16_16_16_16_16_16.gif);
}

.layout-23_13 {
    background-image: url(images/layouts/23_13.gif);
}

.layout-56_16 {
    background-image: url(images/layouts/56_16.gif);
}


/** Tree */

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

/** Sections */
.cf-sections-list {}

/** Dashboard */
.widget-dashboard {
    height: 120px;

}

.btn-dashboard {
    margin-top: -10px;
    display: block;
}

.widget-dashboard .dropdown-menu>li>a {
    padding: 0 10px;
    line-height: 20px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 13px;
}

.dropdown-menu-dashboard {
    top: auto;
}

.cf-section-list-item i.cf-section-icon {
    font-size: 15px;
    margin-right: 10px;
    color: #999;
    width: 14px;
}

/** Error */
.form-error,
.error-message {
    color: #A94442;
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.error-message {
    margin-top: 10px;
}

.error-message li {
    padding-left: 17px;
    text-indent: -17px;
}

.form-error::before,
.error-message li::before {
    content: "\f071 ";
    font-family: "FontAwesome";
    margin-right: 5px;
}

.form-group .dropdown {
    margin-left: 15px;
    flex-grow: 0;
}

td .form-group .dropdown {
    margin-left: 0px;
}

.error-message ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ibox .open>.dropdown-menu {
    left: 0;
}

.ibox .open>.dropdown-menu-date {
    width: 320px;
}

/** Tag-list */
.tag-list li a {
    display: inline;
}

.select-selected {
    background-color: #EEEEEE;
    color: #333;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 7px;
    display: inline-block;
    margin-bottom: 10px;
}

/** Spinner AJAX upload  */
.circularG-wrap {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.circularG {
    position: absolute;
    background-color: #9E9E9E;
    width: 7px;
    height: 7px;
    -moz-border-radius: 5px;
    -moz-animation-name: bounce_circularG;
    -moz-animation-duration: 0.64s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 5px;
    -webkit-animation-name: bounce_circularG;
    -webkit-animation-duration: 0.64s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 5px;
    -ms-animation-name: bounce_circularG;
    -ms-animation-duration: 0.64s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 5px;
    -o-animation-name: bounce_circularG;
    -o-animation-duration: 0.64s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 5px;
    animation-name: bounce_circularG;
    animation-duration: 0.64s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.circularG_1 {
    left: 0;
    top: 12px;
    -moz-animation-delay: 0.24s;
    -webkit-animation-delay: 0.24s;
    -ms-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.circularG_2 {
    left: 3px;
    top: 3px;
    -moz-animation-delay: 0.32s;
    -webkit-animation-delay: 0.32s;
    -ms-animation-delay: 0.32s;
    -o-animation-delay: 0.32s;
    animation-delay: 0.32s;
}

.circularG_3 {
    top: 0;
    left: 12px;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.circularG_4 {
    right: 3px;
    top: 3px;
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.circularG_5 {
    right: 0;
    top: 12px;
    -moz-animation-delay: 0.56s;
    -webkit-animation-delay: 0.56s;
    -ms-animation-delay: 0.56s;
    -o-animation-delay: 0.56s;
    animation-delay: 0.56s;
}

.circularG_6 {
    right: 3px;
    bottom: 3px;
    -moz-animation-delay: 0.64s;
    -webkit-animation-delay: 0.64s;
    -ms-animation-delay: 0.64s;
    -o-animation-delay: 0.64s;
    animation-delay: 0.64s;
}

.circularG_7 {
    left: 12px;
    bottom: 0;
    -moz-animation-delay: 0.72s;
    -webkit-animation-delay: 0.72s;
    -ms-animation-delay: 0.72s;
    -o-animation-delay: 0.72s;
    animation-delay: 0.72s;
}

.circularG_8 {
    left: 3px;
    bottom: 3px;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

@-moz-keyframes bounce_circularG {
    0% {
        -moz-transform: scale(1)
    }

    100% {
        -moz-transform: scale(.3)
    }

}

@-webkit-keyframes bounce_circularG {
    0% {
        -webkit-transform: scale(1)
    }

    100% {
        -webkit-transform: scale(.3)
    }

}

@-ms-keyframes bounce_circularG {
    0% {
        -ms-transform: scale(1)
    }

    100% {
        -ms-transform: scale(.3)
    }

}

@-o-keyframes bounce_circularG {
    0% {
        -o-transform: scale(1)
    }

    100% {
        -o-transform: scale(.3)
    }

}

@keyframes bounce_circularG {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(.3)
    }

}



/** Taxonomy */
tags-input .tags {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 1px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    box-shadow: none;
    margin-top: -4px;
}

tags-input .tags .tag-item {
    background: #f1f1f1;
    border: 1px solid #EDEDED;
}

tags-input .tags .tag-item .remove-button {
    color: #ccc;
}

.multiSelect .buttonLabel {}

/** Highcharts */
tabset {
    width: 100%;
}

tab {
    width: 100%;
}

.nav-tabs>li>a {
    background-color: #EDEDED;
    min-height: 34px;
    color: #999;
}

/** Block Upload */
.block-gallery {
    width: 100px;
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.btn-blocks {
    width: 195px;
    margin: 10px;
    text-align: left;
}

.btn-blocks i {
    font-size: 20px;
    margin-right: 5px;
}

/** Pagination */
.pagination span {
    cursor: pointer;
}

.pagintion .active span {
    cursor: normal;
}

@media (max-width: 420px) {
    .pagination {
        margin-left: 20px;
    }
}

/** Listas */
.list-group {
    margin-top: 5px;
}

.list-group-item {
    /*background: #e7e7e7;*/
    padding: 5px 10px !important;
    margin-bottom: 5px;
}

/** Margins */
.m-t-s {
    margin-top: 8px;
}

.m-t {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.m-t-2 {
    margin-top: 30px;
}

.m-b-2 {
    margin-bottom: 30px;
}

.m-t-3 {
    margin-top: 40px;
}

.m-b-3 {
    margin-bottom: 40px;
}

.m-t-4 {
    margin-top: 50px;
}

.m-b-4 {
    margin-bottom: 50px;
}

.mn-t {
    margin-top: -20px;
}

.mn-t-2 {
    margin-top: -30px;
}

.mn-t-3 {
    margin-top: -40px;
}

.mn-t-4 {
    margin-top: -50px;
}

.m-l {
    margin-left: 20px;
}

.m-r-05 {
    margin-right: 10px;
}
.m-r {
    margin-right: 20px;
}

.m-l-2 {
    margin-left: 30px;
}

.m-r-2 {
    margin-right: 30px;
}

.m-l-3 {
    margin-left: 40px;
}

.m-r-3 {
    margin-right: 40px;
}


/** Paddings */
.p-l-10 {
    padding-left: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

/** Widths */
.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 70%;
}

.width-50 {
    width: 70%;
}

.width-40 {
    width: 70%;
}

.width-30 {
    width: 70%;
}

.angucomplete-dropdown {
    width: 850px;
}

.pac-container {
    width: 100%;
    z-index: 9999999;
}

/* CONTACTS */
.contact-box {
    background-color: #ffffff;
    border: 1px solid #e7eaec;
    padding: 20px !important;
    margin-bottom: 20px;
    height: 160px;
}

.contact-box a {
    color: inherit;
    font-size: 11px;
}

.contact-box a i {
    font-size: 14px
}

.contact-box.center-version {
    border: 1px solid #e7eaec;
    padding: 0;
    text-align: center;
}

.contact-box.center-version>a {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

.contact-box.center-version>a img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-box.center-version address {
    margin-bottom: 0;
}

.contact-box .contact-box-footer {
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #e7eaec;
    padding: 15px 20px;
}


.menu-edition-list {}

.menu-edition-list ol {
    padding: 0;
    margin: 0;
}

.menu-edition-list ol li {
    margin-left: 2em;
    margin-top: 5px;
}

.menu-edition-list ol li>div {
    padding: 5px 10px;
    border: 1px solid #e7e7e7;
    background-color: #f4f4f4;
}

.menu-edition-list ol li>div .handle,
.angular-ui-tree-drag li>div .handle {
    margin-right: 5px;
}

.menu-edition-list ol li>div i,
.angular-ui-tree-drag li>div i {
    margin-left: 5px;
}

.menu-edition-list ol li span {
    cursor: pointer;
}

.menu-edit {
    margin-top: 5px;
    margin-left: 23px;
}

.menu-edit input {
    padding: 2px 10px;
    width: 100%;
}

.menu-edit label {
    display: block;
}

.menu-edition-title {
    font-weight: bold;
}


/*Navegación de usuario*/
.custom-nav {
    margin-left: 5px;
    margin-bottom: 90px;
}

.custom-nav ul {
    list-style: none;
    padding: 0;
}

.custom-nav i {
    margin-right: 5px;
}

.custom-nav>ul>li {
    margin-top: 20px;
}

.custom-nav>ul>li>a,
.custom-nav>ul>li>span {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .4);
    font-size: 12px;
}

.custom-nav>ul>li>ul>li {
    margin: 7px 0;
}

.custom-nav>ul>li>ul>li>a,
.custom-nav>ul>li>ul>li>span {
    color: rgba(255, 255, 255, .7);
    font-size: 15px;
    font-weight: bold;
}

.custom-nav>ul>li>ul>li {
    margin: 7px 0;
}

.custom-nav>ul>li>ul>li>ul {
    margin-left: 24px;
    margin-top: 5px;
}

.custom-nav>ul>li>ul>li>ul>li>a,
.custom-nav>ul>li>ul>li>ul>li>span {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}


.ibox-info .row {
    min-height: 28px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
}


.form-horizontal,
.form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.form-group label {
    flex: 0 0 130px;
    margin-right: 20px;
}

.form-group label._short {
    flex: 0 0 60px;
}

.inline-edit .form-group label {
    display: none;
}

.form-group>div {
    flex-grow: 2;
}

.form-group>div.pull-left {
    display: flex;
}

.form-group .col-lg-9,
.form-group .col-lg-3 {
    padding-right: 0px;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-group label {
        flex-basis: auto;
    }
}

@media (max-width: 1440px) {

    .col-lg-3 .form-group,
    .col-lg-4 .form-group,
    .col-lg-6 .form-group {
        flex-direction: column;
    }

    .col-lg-3 .form-group>div,
    .col-lg-4 .form-group>div,
    .col-lg-6 .form-group>div {
        width: 100%;
    }

    .col-lg-3 .form-group label,
    .col-lg-4 .form-group label,
    .col-lg-6 .form-group label {
        flex-basis: auto;
    }
}




.manager-page {
    display: flex;
    width: 100%;
}

.manager-page__tabs {
    flex: 0 0 150px;
}

.manager-page__contents {
    flex-grow: 2;
    padding-right: 20px;
}

.manager-page__contents.no-columns {
    padding-left: 30px;
}

@media (max-width: 480px) {}

.panel-body {
    padding: 15px 0;
}

.isteven-multi-select {
    max-width: 100%;
    margin-left: 0px;
}



.index-top-links a {
    margin-right: 10px;
}

.dd-handle-tree {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

.dd-handle-tree .handle {
    flex: 0 0 20px;
}

.dd-handle-tree span:nth-child(2) {
    flex-grow: 1;
}

.dd-handle-tree:nth-child(odd) {
    border-bottom: 1px solid #eee;
}


.mc-conditions {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.mc-conditions select,
.mc-conditions input {
    width: 100%;
}

.mc-conditions__field {
    flex-basis: 30%;
}

.mc-conditions__op {
    flex-basis: 20%;
}

.mc-conditions__value {
    flex-basis: 30%;
}

.mc-conditions__delete {
    flex-basis: 10%;
}

.action-box {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.action-box__action {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.action-box__action select {
    margin-left: 5px;
}

.index-box-input {
    width: 20px;
}




@keyframes blur {
    from {
        filter: blur(40px);
        transform: scale(0);
    }

    to {
        filter: blur(0);
        transform: scale(1);
    }
}

.loginscreen {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    animation-name: blur;
    animation-duration: .5s;
}

.login-wrapper {
    min-height: 100vh;
    background-color: #fff;
    max-width: 584px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 130px;
}

.login-wrapper>* {
    transform: translateY(-50px);
}

.login-wrapper .login-logo {
    margin-bottom: 40px;
}

@media (max-width: 420px) {
    .login-wrapper {
        padding: 0px 20px;
    }
}

.login-wrapper .form-group {
    margin-bottom: 15px;
}

.login-wrapper input {
    border-radius: 10px;
    padding: 20px 20px !important;
    font-size: 16px;
}

.login-wrapper input::-webkit-input-placeholder {
    /* Chromeç/Opera/Safari */
    text-transform: uppercase;
    font-size: 14px;
}

.login-wrapper .form-group {
    flex-direction: column;
}

.login-wrapper .form-group>* {
    flex-basis: auto;
}

.login-wrapper input::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    font-size: 14px;
}

.login-wrapper input:-ms-input-placeholder {
    /* IE 10+ */
    text-transform: uppercase;
    font-size: 14px;
}

.login-wrapper input:-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    font-size: 14px;
}

.login-wrapper button {
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.login-wrapper a {
    text-decoration: underline;
    color: #999;
}

.login-logo {
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.login-logo img {
    max-width: 100%;
}

.login-explain {
    margin-bottom: 20px;
}

.login-explain h2 {
    color: #999;
}

.tab-content>.tab-pane {
    padding: 10px;
}

.uploads-assets-index {
    display: flex;
    flex-wrap: wrap;
}

.uploads-assets-index>div {
    margin-bottom: 20px;
}

.uploads {
    display: flex;
    flex-wrap: wrap;
}

.uploads>div {
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color .5s;
}

.uploads>div.selected {
    background-color: rgba(0, 0, 0, .1);

}

.uploads>div.selected .uploads-filename {
    color: #000;
}

.uploads>div img {
    width: 140px;
    height: 100px;
    object-fit: cover;
    transition: opacity .5s;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
    background-color: #fff;
}

.uploads>div:hover img {
    opacity: .7;
}

.uploads-filename {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 130px;
    margin-top: 10px;
}

.uploads-filename a {
    padding: 3px 7px;
    margin-right: 5px;
    margin-top: -38px;
    position: absolute;
}

.upload-search {
    margin-bottom: 30px;
}

.upload-search input {
    width: 400px;
    display: inline-block;
}

.fancybox-margin {
    margin-right: auto !important;
}

.upload-doc {
    border-radius: 5px;
    padding: 2px;
}

.upload-doc:hover {
    background-color: #fff;
}

.upload-edit {
    position: absolute;
    z-index: 99999;
    width: 400px;
    left: 0;
    top: 0px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 19px 3px #ccc;
}

.uploads-header {
    display: flex;
    justify-content: space-between;
}

.uploads-header-add {
    margin-right: 20px;
}

.upload-view {
    display: flex;
}

.upload-view-image {
    width: calc(100% - 380px);
    margin-right: 30px;
}

.upload-view-image img {
    max-width: 100%;
}

.upload-view-info {}

.upload-view-info h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.upload-view-info-link {
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.upload-view-info-link ._link {
    margin-bottom: 8px;
}

.upload-view-info-link ._link a {
    color: #000;
    font-weight: bold;
}

.upload-view-info-link ._link-url a {
    color: #999;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tutorials {
    display: flex;
    padding: 20px;
}

.tutorial {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.tutorial h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tutorial video {
    width: 100% !important;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}

.tutorial-relateds {
    flex: 0 0 250px;
    margin-top: 40px;
    max-width: 1200px;
    margin: 40px auto;
}

.tutorial-relateds h2 {
    margin-top: 40px;
}

.tutorial-relateds div {
    margin: 10px 0px;

}

.tutorial-relateds a {
    font-size: 16px;
}

.datetimepicker .disabled,
.datetimepicker .disabled:hover {
    color: #ebebeb !important;
}
