<div>
  <label>{{ field.label }}</label>
  <div *ngFor="let option of field.options">
    <mat-checkbox
      [checked]="isChecked( option)"
      (change)="changeValue( option, $event.checked)"
    >{{ option.full_title }}</mat-checkbox>
  </div>
</div>