.c-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
app-nav {
  height: 100vh;
  overflow: auto;
  ul {
    li {
      a {
        cursor: pointer;
        transition: all .5s;
        display: flex;
        color: #fff;
        font-size: .9em;
        &:hover {
          background-color: rgba( #000, .1);
          color: #fff;
        }
        &.active {
          background-color: rgba( #000, .3);
        }
        i {
          font-size: 14px;
          flex: 0 0 2em;
          position: relative;
          top: 2px;
        }
        span {
          font-weight: 700;
        }
      }
    }
  }
  > ul {
    > li {
      > a {
        padding: .4em 1em .4em 2em;
      }
      > ul {
        > li {
          > a {
            padding: .4em 1em .4em 4em;
            span {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}