.c-header {
  background-color: v-color-brand( secondary);
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1em 2em;

  &__icon {
    color: rgba( #fff, .4);
    margin-right: 0.3em;
  }
  &__title {
    font-weight: 300;
    font-size: 2em;
  }
  &__subtitle {
    &:before {
      content: "/";
      margin-left: 0.4em;
      margin-right: 0.4em;
    }
  }
}