<ul>
  <li *ngFor="let el of nav">
    <a *ngIf="el.url" [routerLink]="[el.url]" routerLinkActive="active">
      <i *ngIf="el.icon" [className]="el.icon"></i>
      <span>{{ el.label }}</span>
    </a>
    <a *ngIf="!el.url" (click)="el.active = !el.active">
      <i *ngIf="el.icon" [className]="el.icon"></i>
      <span>{{ el.label }}</span>
    </a>
    <ul *ngIf="el.children.length > 0 && el.active">
      <li *ngFor="let _el of el.children">
        <a [routerLink]="[_el.url]" routerLinkActive="active">
          <span>{{ _el.label }}</span>
        </a>
      </li>
    </ul>
  </li>
</ul>