<div ng-repeat="_field in field.fields">
  <ng-include ng-init="content[field.key] = !content[field.key] ? {} : content[field.key] ; content = content[field.key];  field = _field;"  src="field.template +'.html'"></ng-include>
</div>
