<app-header
  [data]="data"
></app-header>
<div>
  <span *ngFor="let field of iterateFields">{{ field.label }}</span>
</div>
<div *ngFor="let content of data.contents">
  <app-field-container *ngFor="let field of iterateFields"
    [content]="content"
    [field]="field"
    [template]="field.templateIndex"
  ></app-field-container>
</div>