<app-header
  [data]="data"
></app-header>

<div class="c-form">
  <app-columns 
    *ngFor="let column of columns"
    [boxes]="column.box"
    [title]="column.title"
    [form]="form"
    [data]="data"  
    ></app-columns>

    <pre>{{ form.value | json }}</pre>
  <button (click)="save()" mat-raised-button color="primary">Guardar</button>
</div>
