$v-font-family--primary: 'Muli', sans-serif, !default;
$v-font-family--secondary: "Muli", serif !default;
$v-font-family--special: "Muli", serif !default;

$v-font-families: (
  primary: $v-font-family--primary,
  secondary: $v-font-family--secondary,
  special: $v-font-family--special
);

@function v-font( $_type){
  @return map-get( $v-font-families, $_type);
}