
/* -------------------------------------------------------------------------
 * SPACES
 *
 * Modifying these variables can break the vertical rhythm.
 * Should be modified with caution.
 * Values should be expressed in PX.
 * If you need a relative unit based on that values, use the core functions
 * on used context.
 *
 */


// Main space

$v-space:                     24px !default;
$v-space--tiny:               5px !default;
$v-space--small:              10px !default;
$v-space--medium:             20px !default;
$v-space--large:              30px !default;
$v-space--xlarge:             40px !default;
$v-space--huge:               50px !default;

// SPACES MAP

$v-spaces: (
  none: (
    null: 0
  ),
  tiny: (
    null: 5px
  ),
  small: (
    null: 10px
  ),
  medium: (
    null: 20px
  ),
  normal: (
    null: 36px
  ),
  large: (
    null: 40px,
  ),
  xlarge: (
    null: 60px,
  ),
  huge: (
    null: 90px,
    sm: 30px,
    xs: 20px
  )
) !default;

@mixin v-space( $_space, $_size: medium) {
  $__var: map-get( $v-spaces, $_size);
  @each $_breakpoint, $__size in $__var {
    @if $_breakpoint == null {
      #{$_space}: #{$__size};
    }
    @else {
      @include respond-to( $_breakpoint){
        #{$_space}: #{$__size};
      }
    }
  }
}

@function v-space( $_size){
  $__var: map-get( $v-spaces, $_size);
  @each $_breakpoint, $__size in $__var {
    @if $_breakpoint == null {
      @return #{$__size};
    }

  }
}

