
/* -------------------------------------------------------------------------
 * COLORS STATE
 *
 * Define all state colors
 */


// Main state colors

$v-color__state-success:                  #36ba33 !default;
$v-color__state-info:                     #20a0de !default;
$v-color__state-warning:                  #f99500 !default;
$v-color__state-danger:                   #c1101f !default;

// Success shades

$v-color__state-success--ultra-light:     mix(#fff, $v-color__state-success, 93%) !default;
$v-color__state-success--light:           lighten($v-color__state-success, 10%) !default;
$v-color__state-success--semi-light:      lighten($v-color__state-success, 5%) !default;

$v-color__state-success--semi-dark:       darken($v-color__state-success, 5%) !default;
$v-color__state-success--dark:            darken($v-color__state-success, 15%) !default;

// Info shades

$v-color__state-info--ultra-light:        mix(#fff, $v-color__state-info, 93%) !default;
$v-color__state-info--light:              lighten($v-color__state-info, 10%) !default;
$v-color__state-info--semi-light:         lighten($v-color__state-info, 5%) !default;

$v-color__state-info--semi-dark:          darken($v-color__state-info, 5%) !default;
$v-color__state-info--dark:               darken($v-color__state-info, 15%) !default;

// Warning shades

$v-color__state-warning--ultra-light:     mix(#fff, $v-color__state-warning, 93%) !default;
$v-color__state-warning--light:           lighten($v-color__state-warning, 10%) !default;
$v-color__state-warning--semi-light:      lighten($v-color__state-warning, 5%) !default;

$v-color__state-warning--semi-dark:       darken($v-color__state-warning, 5%) !default;
$v-color__state-warning--dark:            darken($v-color__state-warning, 15%) !default;

// Danger shades

$v-color__state-danger--ultra-light:      mix(#fff, $v-color__state-danger, 93%) !default;
$v-color__state-danger--light:            lighten($v-color__state-danger, 10%) !default;
$v-color__state-danger--semi-light:       lighten($v-color__state-danger, 5%) !default;

$v-color__state-danger--semi-dark:        darken($v-color__state-danger, 5%) !default;
$v-color__state-danger--dark:             darken($v-color__state-danger, 15%) !default;


// STATE COLOR MAP

$v-colors-state: (
  "success":                            $v-color__state-success,
  "info":                               $v-color__state-info,
  "warning":                            $v-color__state-warning,
  "danger":                             $v-color__state-danger,
  "success--ultra-light":               $v-color__state-success--ultra-light,
  "success--light":                     $v-color__state-success--light,
  "success--semi-light":                $v-color__state-success--semi-light,
  "success--semi-dark":                 $v-color__state-success--semi-dark,
  "success--dark":                      $v-color__state-success--dark,
  "info--ultra-light":                  $v-color__state-info--ultra-light,
  "info--light":                        $v-color__state-info--light,
  "info--semi-light":                   $v-color__state-info--semi-light,
  "info--semi-dark":                    $v-color__state-info--semi-dark,
  "info--dark":                         $v-color__state-info--dark,
  "warning--ultra-light":               $v-color__state-warning--ultra-light,
  "warning--light":                     $v-color__state-warning--light,
  "warning--semi-light":                $v-color__state-warning--semi-light,
  "warning--semi-dark":                 $v-color__state-warning--semi-dark,
  "warning--dark":                      $v-color__state-warning--dark,
  "danger--ultra-light":                $v-color__state-danger--ultra-light,
  "danger--light":                      $v-color__state-danger--light,
  "danger--semi-light":                 $v-color__state-danger--semi-light,
  "danger--semi-dark":                  $v-color__state-danger--semi-dark,
  "danger--dark":                       $v-color__state-danger--dark,
) !default;
