
/* -------------------------------------------------------------------------
 * COLORS VENDOR
 *
 * Define all vendor colors
 */


// Main vendor colors

$v-color__vendor-facebook:                #3b5998 !default;
$v-color__vendor-twitter:                 #00aced !default;

// Facebook shades

$v-color__vendor-facebook--ultra-light:   #f7f7f7 !default;
$v-color__vendor-facebook--light:         #dfe3ee !default;
$v-color__vendor-facebook--semi-light:    #8b9dc3 !default;

// Twitter shades

$v-color__vendor-twitter--ultra-light:    #fff !default;
$v-color__vendor-twitter--light:          #c0deed !default;
$v-color__vendor-twitter--semi-light:     #1dcaff !default;
$v-color__vendor-twitter--dark:           #0084b4 !default;


// VENDOR COLOR MAP

$v-colors-vendor: (
  "facebook":                             $v-color__vendor-facebook,
  "twitter":                              $v-color__vendor-twitter,
  "facebook--ultra-light":                $v-color__vendor-facebook--ultra-light,
  "facebook--light":                      $v-color__vendor-facebook--light,
  "facebook--semi-light":                 $v-color__vendor-facebook--semi-light,
  "twitter--ultra-light":                 $v-color__vendor-twitter--ultra-light,
  "twitter--light":                       $v-color__vendor-twitter--light,
  "twitter--semi-light":                  $v-color__vendor-twitter--semi-light,
  "twitter--dark":                        $v-color__vendor-twitter--dark,
) !default;
