
$v-fontsizes: (
  h1: (
    'null': 30px,
    sm: 36px,
    xs: 24px
  ),
  h2: (
    'null'  : 30px,
    sm : 22px,
    xs : 18px
  ),
  h3: (
    'null'  : 22px,
    sm : 22px,
    xs : 18px
  ),
  'h4': (
    'null'  : 18px,
    sm : 18px,
    xs : 20px
  ),
  'h5': (
    'null'  : 16px,
    sm : 16px,
    xs : 18px
  ),
  'h6': (
    'null'  : 14px,
    sm : 14px,
    xs : 14px
  ),
  'p': (
    'null' : 16px,
    sm : 16px,
    xs : 18px
  )
);

@function v-get-fontsize( $_fs, $_size: null){
  $__var: map-get( $v-fontsizes, $_fs);
  @return map-get( $__var, $_size);
}

@mixin v-fontsize( $_fs) {
  $__var: map-get( $v-fontsizes, $_fs);
  @each $fs-breakpoint, $_size in $__var {
    @if $fs-breakpoint == 'null' {
      font-size: map-deep-get( $v-fontsizes, $_fs, $fs-breakpoint);
    }
    @else {
      @include respond-to( $fs-breakpoint){
       font-size: map-deep-get( $v-fontsizes, $_fs, $fs-breakpoint);
      }
    }
  }
}
