
/* -------------------------------------------------------------------------
 * COLORS NEUTRAL
 *
 * Neutral colors are the ones without saturation
 */


// Black & White

$v-color__neutral-white:                #fff !default;
$v-color__neutral-black:                #29353A !default;

// Grey shades (Mid tones are missing intentionally)

$v-color__neutral-grey--ultra-light:    darken(#fff, 5%) !default;
$v-color__neutral-grey--light:          darken(#fff, 10%) !default;
$v-color__neutral-grey--semi-light:     darken(#fff, 20%) !default;
$v-color__neutral-grey:                 darken(#fff, 30%) !default;
$v-color__neutral-grey--semi-dark:      darken(#fff, 70%) !default;
$v-color__neutral-grey--dark:           darken(#fff, 80%) !default;
$v-color__neutral-grey--ultra-dark:     darken(#fff, 90%) !default;

// Transparent colors

$v-color__neutral-white--transparent:   rgba($v-color__neutral-white, 0) !default;
$v-color__neutral-black--transparent:   rgba($v-color__neutral-black, 0) !default;


// NEUTRAL COLOR MAP

$v-colors-neutral: (
  "white":                              $v-color__neutral-white,
  "black":                              $v-color__neutral-black,
  "black2":                              #62656C,
  "borders":                  #EBEFF1,
  "borders2":                  #D8D8D8,
  "background":                  #F8F8F8,
  "document":                  #F4F7F9,
  "shadows":                  #EAEEF0,
  "shadows2":                  #D3D8DA,
  "grey--light":                        $v-color__neutral-grey--light,
  "grey":                               #8298A4,
  "grey2":                               #626F76,
  "grey3":                               #C7D5DD,
  "grey-dark":                         #8298A4,
  "white--transparent":                 $v-color__neutral-white--transparent,
  "black--transparent":                 $v-color__neutral-black--transparent,
) !default;
