<a ng-if="!hasmany && crudConfig.view.editLink" href="#{{ data.crudConfig.adminUrl }}{{ data.crudConfig.view.actionLink }}/{{ content.id }}" bind-content="field.key"></a>
<span ng-if="hasmany || !crudConfig.view.editLink"  bind-content="field.key"></span>