<img ng-if="content[field.key].extension !== 'svg'" style="max-width: 50px" ng-src="{{ content[field.key].paths.thm }}" />
<img ng-if="content[field.key].extension == 'svg'" style="max-width: 50px" ng-src="{{ content[field.key].paths[0] }}" />
