<mat-form-field>
  <mat-label>{{ field.label }}</mat-label>
  <mat-select>
    <mat-option *ngFor="let option of field.options" [value]="option.key">
      {{ option.value }}
    </mat-option>
  </mat-select>
</mat-form-field>