@mixin breakpoint($point) {
  @if $point == 715 {
    @media (max-width: 715px) { @content; }
  }
  @else if $point == another-break-point {
    @media (max-width: 0) { @content; }
  }
}

/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to( $_breakpoint) {
  // If the key exists in the map
  @if map-has-key($v-layout__breakpoints, $_breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($v-layout__breakpoints, $_breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin min-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($v-layout__breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($v-layout__breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
