@mixin t-space( $_space, $_size) {
  @include v-space( $_space, $_size);
}


@mixin t-bg-fullwidth {
  margin-left: -2000px;
  padding-left: 2000px;
  margin-right: -2000px;
  padding-right: 2000px;
  @include respond-to('sm'){
    margin-left: -44px;
    padding-left: 44px;
    margin-right: -44px;
    padding-right: 44px;
  }
  @include respond-to('xs'){
    margin-left: -40px;
    padding-left: 40px;
    margin-right: -40px;
    padding-right: 40px;
  }
}
@mixin t-bg-fullwidth-left {
  margin-left: -2000px;
  padding-left: 2000px;
  @include respond-to('sm'){
    margin-left: -24px;
    padding-left: 24px;
  }
  @include respond-to('xs'){
    margin-left: -15px;
    padding-left: 15px;
  }
}
@mixin t-bg-fullwidth-right {
  margin-right: -2000px;
  padding-right: 2000px;
  @include respond-to('sm'){
    margin-right: -24px;
    padding-right: 24px;
  }
  @include respond-to('xs'){
    margin-right: -15px;
    padding-right: 15px;
  }
}
