//
// -- Start editing -- //
//


// Set the number of columns you want to use on your layout.
$l-grid__columns: 12 !default;
// Set the gutter between columns.
// $l-grid__gutter-width: 50px !default;
// Set a margin for the container sides.
// $flexboxgrid-outer-margin: $l-grid__gutter-width / 2;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
@function l-grid-outer-margin( $_width){
  @return $_width / 2;
}

$l-grid__gutter-width: (
  default: 30px,
  xs: 20px
);

$l-grid-breakpoints:
  xs v-get-breakpoint( xs),
  sm v-get-breakpoint( sm),
  md v-get-breakpoint( md),
  lg v-get-breakpoint( lg)
    !default;

$l-grid-breakpoints-reverse:
  lg v-get-breakpoint( lg) v-get-breakpoint( md),
  md v-get-breakpoint( md) v-get-breakpoint( sm),
  sm v-get-breakpoint( sm) auto,
  xs v-get-breakpoint( xs) auto
   !default;
   
$v-layout-max-width: 1200px !default;

//
// -- Stop editing -- //
//


@function l-grid__gutter-compensation( $_width) {
  @return $_width * .5 * -1;
}

@function l-grid__half-gutter-width( $_width) {
  @return $_width * .5;
}


.wrapper {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: l-grid-outer-margin( map-get( $l-grid__gutter-width, default));
  padding-left: l-grid-outer-margin( map-get( $l-grid__gutter-width, default));
  max-width: $v-layout-max-width;
}

.row {
  box-sizing: border-box;
  @include flexbox();
  @include flex(0, 1, auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-right: l-grid__gutter-compensation( map-get( $l-grid__gutter-width, default));
  margin-left: l-grid__gutter-compensation( map-get( $l-grid__gutter-width, default));
}

@each $_size, $_width in $l-grid__gutter-width {
  @media only screen and (max-width: v-get-breakpoint( $_size)){
    @if $_size != default {
      .container {
        padding-right: l-grid-outer-margin( $_width);
        padding-left: l-grid-outer-margin( $_width);
      }
      .row {
        padding-right: l-grid__gutter-compensation( $_width);
        padding-left: l-grid__gutter-compensation( $_width);
      }
    }
  }
}

.row.reverse {
  @include flex-direction(row-reverse);
}

.col.reverse {
  @include flex-direction(column-reverse);
}

@mixin flexboxgrid-sass-col-common {
  box-sizing: border-box;

  // split @include flex(0, 0, auto) into individual props
  @include flex-grow(0);
  @include flex-shrink(0);

  // we leave @include flex-basis(auto) out of common because
  // in some spots we need it and some we dont
  // more why here: https://github.com/kristoferjoseph/flexboxgrid/issues/126
  padding-right: l-grid__half-gutter-width( map-get( $l-grid__gutter-width, default));
  padding-left: l-grid__half-gutter-width( map-get( $l-grid__gutter-width, default));

}

$name: xs;
.col-#{$name} {
  @include flexboxgrid-sass-col-common;
  @include flex-basis(auto);
}
@for $i from 1 through $l-grid__columns {
  .col-#{$name}-#{$i} {
    @include flexboxgrid-sass-col-common;
    @include flex-basis(100% / $l-grid__columns * $i);
    max-width: 100% / $l-grid__columns * $i;
  }
}
@for $i from 0 through $l-grid__columns {
  .col-#{$name}-offset-#{$i} {
    @include flexboxgrid-sass-col-common;
    @if $i == 0 {
      margin-left: 0;
    } @else {
      margin-left: 100% / $l-grid__columns * $i;
    }
  }
}
.col-#{$name} {
  @include flex-grow(1);
  @include flex-basis(0);
  max-width: 100%;
}
.start-#{$name} {
  @include justify-content(flex-start);
  text-align: left;
}

.center-#{$name} {
  @include justify-content(center);
  text-align: center;
}

.end-#{$name} {
  @include justify-content(flex-end);
  text-align: right;
}

.top-#{$name} {
  @include align-items(flex-start);
}

.middle-#{$name} {
  @include align-items(center);
}

.bottom-#{$name} {
  @include align-items(flex-end);
}

.around-#{$name} {
  @include justify-content(space-around);
}

.between-#{$name} {
  @include justify-content(space-between);
}

.first-#{$name} {
  order: -1;
}

.last-#{$name} {
  order: 1;
}

@each $breakpoint in $l-grid-breakpoints-reverse {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $container: nth($breakpoint, 3);
  @media only screen and (max-width: $size) {
    .container {
      width: $container;
    }
  }
}

@each $breakpoint in $l-grid-breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  @media only screen and (min-width: $size) {
    .col-#{$name} {
      @include flexboxgrid-sass-col-common;
      @include flex-basis(auto);
    }
    @for $i from 1 through $l-grid__columns {
      .col-#{$name}-#{$i} {
        @include flexboxgrid-sass-col-common;
        @include flex-basis(100% / $l-grid__columns * $i);
        max-width: 100% / $l-grid__columns * $i;
      }
    }
    // @for $i from 0 through $l-grid__columns {
    //   .col-#{$name}-offset-#{$i} {
    //     @include flexboxgrid-sass-col-common;
    //     @if $i == 0 {
    //       margin-left: 0;
    //     } @else {
    //       margin-left: 100% / $l-grid__columns * $i;
    //     }
    //   }
    // }
    .col-#{$name} {
      @include flex-grow(1);
      @include flex-basis(0);
      max-width: 100%;
    }
    .start-#{$name} {
      @include justify-content(flex-start);
      text-align: left;
    }

    .center-#{$name} {
      @include justify-content(center);
      text-align: center;
    }

    .end-#{$name} {
      @include justify-content(flex-end);
      text-align: right;
    }

    .top-#{$name} {
      @include align-items(flex-start);
    }

    .middle-#{$name} {
      @include align-items(center);
    }

    .bottom-#{$name} {
      @include align-items(flex-end);
    }

    .around-#{$name} {
      @include justify-content(space-around);
    }

    .between-#{$name} {
      @include justify-content(space-between);
    }

    .first-#{$name} {
      order: -1;
    }

    .last-#{$name} {
      order: 1;
    }
  }
}
