
@each $_size, $_width in $v-layout__breakpoints {
  .u-hide {
    display: none !important;
  }
  .u-hide-#{$_size} {
    @include respond-to($_size){
      display: none !important;
      
    }
  }
  .u-show-#{$_size} {
    display: none;
    @include respond-to($_size){
      display: block;

      &--table-cell {
        display: table-cell;
      }
    }
  }
}
