@mixin u-video-play-after {
  font-family: "FontAwesome";
  content: "\f04b";
  position: absolute;
  top: calc( 50% - 30px);
  left: calc( 50% - 30px);
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 50px;
  padding-left: 5px;
  text-align: center;
  font-size: 26px;
  border: 5px solid #fff;
  border-radius: 100%;
}

@mixin u-video-play {
  position: relative;
  img {
      max-width: 100%;
  }

  // &.with-video:after {
  //   display: none;
  // }
}
