<label>{{ field.label }}</label>
<div *ngIf="!field.translate" [formGroup]="form">
  <ckeditor [editor]="Editor" [formControlName]="field.key"></ckeditor>
</div>
<div *ngIf="field.translate">
  <div [hidden]="data.currentLanguage.id != lang.id" *ngFor="let lang of data.languages" [formGroup]="form.get( '_translations').get( lang.iso3)">
    <ckeditor [editor]="Editor" [formControlName]="field.key"></ckeditor>
  </div>
</div>